<sky-modal>
  <sky-modal-header>
    {{ 'edit_employee_info' | skyAppResources }}
  </sky-modal-header>
  <sky-modal-content>
    <div id="docs-edit-grid-modal-content">
      <sky-ag-grid-wrapper>
        <ag-grid-angular
          class="sky-ag-grid-editable"
          [gridOptions]="gridOptions"
          [rowData]="gridData"
        >
        </ag-grid-angular>
      </sky-ag-grid-wrapper>
    </div>
  </sky-modal-content>
  <sky-modal-footer>
    <button
      class="sky-btn sky-btn-primary"
      type="button"
      (click)="instance.save(gridData)"
    >
      {{ 'save' | skyAppResources }}
    </button>
    <button
      class="sky-btn sky-btn-link"
      type="button"
      (click)="instance.cancel()"
    >
      {{ 'cancel' | skyAppResources }}
    </button>
  </sky-modal-footer>
</sky-modal>
